.burgerIngredients {
    width: 600px;
    height: 100%;
}

.ingredients {
    display: flex;
    flex-flow: row wrap;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

.type {
    width: 100%;
}