.burgerIngredients {
    width: 600px;
    height: 100%;
}

.tabs {
    display: flex;
}

.allIngredients {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 156px);
}

.ingredients {
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
    row-gap: 32px;
}