.header {
    background-color: #1C1C21;
}

.nav {
    margin: 0 auto;
    width: 1280px;
    height: 88px;
}

.button {
    display: flex;
    padding: 16px 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.leftButton {
    composes: button;
    float: left;
}

.rightButton {
    composes: button;
    float: right;
}

.buttonText {
    display: inline-block;
}

.link {
    text-decoration: none;
    color: #8585AD; 
}

.link svg {
    fill: #8585AD; 
}

.activeLink {
    color: #F2F2F3;
}

.activeLink svg {
    fill: #F2F2F3;
}

.logo {
    position: absolute;
    left: calc(50% - 145px);
    top: 24px;
}

.logo svg {
    height: 40px;
}